<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Materials</h4>
                <br>
                <!-- table start -->
                <app-advanced-table-users (materialAdded)="getMaterial()"  [tableData]="records" [columns]="columns" [pagination]="true" [tableName] = "tableName"
                    [pageSizeOptions]="pageSizeOptions" [hasRowSelection]="true" [isSearchable]="true"
                    (search)="searchData($event)" [isSortable]="false" (sort)="onSort($event)"
                    tableClasses="table-striped">
                </app-advanced-table-users>
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<div *ngIf="records.length === 0" class="text-center text-muted mt-3">
    <i class="bi bi-info-circle fs-4 d-block mb-2"></i> 
    No data available.
  </div>