<div class="col-xl-12">
  <div class="card">
    <div class="card-body">
      <h4 class="header-title mb-3">Course Details</h4>

      <ul
        ngbNav
        #nav2="ngbNav"
        [(activeId)]="tabs1"
        class="nav-pills bg-nav-pills nav-justified mb-3"
      >
        <li [ngbNavItem]="1">
          <a ngbNavLink class="rounded-0">
            <i class="mdi mdi-home-variant d-md-none d-block"></i>
            <span class="d-none d-md-block">Course</span>
          </a>
          <ng-template ngbNavContent>
            <ng-container *ngTemplateOutlet="Tab1"></ng-container>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink class="rounded-0">
            <i class="mdi mdi-account-circle d-md-none d-block"></i>
            <span class="d-none d-md-block">Modules & Sessions</span>
          </a>
          <ng-template ngbNavContent>
            <ng-container *ngTemplateOutlet="Tab2"></ng-container>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink class="rounded-0">
            <i class="mdi mdi-book d-md-none d-block"></i>
            <span class="d-none d-md-block">Notes </span>
          </a>
          <ng-template ngbNavContent>
            <ng-container *ngTemplateOutlet="Tab3"></ng-container>
          </ng-template>
        </li>
        <li [ngbNavItem]="4">
          <a ngbNavLink class="rounded-0">
            <i class="mdi mdi-cog-outline d-md-none d-block"></i>
            <span class="d-none d-md-block">Lab</span>
          </a>
          <ng-template ngbNavContent>
            <ng-container *ngTemplateOutlet="Tab4"></ng-container>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav2"></div>
    </div>
    <!-- end card-body -->
  </div>
  <!-- end card-->
</div>


<ng-template #Tab1>
  <app-edit-course-details [courseID]="courseID"></app-edit-course-details>
  </ng-template>
  
  <ng-template #Tab2>
  <app-edit-modules [courseID]="courseID"></app-edit-modules>
  </ng-template>
  
  <ng-template #Tab3>
      <app-edit-notes [courseID]="courseID"></app-edit-notes>
  
  </ng-template>
  
  <ng-template #Tab4>
    <app-edit-lab [courseID]="courseID"></app-edit-lab>
  </ng-template> 


