<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Users</h4>
                
                <!-- table start -->
                <app-advanced-table-users [tableData]="records" [columns]="columns" [pagination]="true" [tableName] = "tableName"
                    [pageSizeOptions]="pageSizeOptions" [hasRowSelection]="true" [isSearchable]="true"
                    (search)="searchData($event)" [isSortable]="true" (sort)="onSort($event)"
                    tableClasses="table-striped">
                </app-advanced-table-users>
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
