<ng-template #addMaterialModal let-modal>
  <div class="modal-body">
    <form
      class="ps-3 pe-3"
      [formGroup]="addMaterialForm"
      (ngSubmit)="createMaterial()"
    >
      <h4 class="header-title m-t-0 mb-2">
        {{ selectedCategory ? "Edit Material" : "Add New Material" }}
      </h4>
      <!-- Material Title -->
      <div class="mb-2">
        <label for="username" class="form-label">Material Title</label>
        <input
          class="form-control"
          type="text"
          id="name"
          required
          formControlName="title"
          placeholder="Material title"
        />
      </div>

      <!-- Type Selection -->
      <div class="mb-3">
        <label for="username" class="form-label">File Type</label>

        <select class="form-select" formControlName="type">
          <option value="" disabled>Select a material type</option>
          <option value="pdf">PDF</option>
          <option value="link">Link</option>
        </select>
      </div>

      <div class="mb-2" *ngIf="addMaterialForm.get('type')?.value === 'link'">
        <label for="username" class="form-label">Material Link</label>
        <input
          class="form-control"
          type="text"
          id="name"
          required
          formControlName="link"
          placeholder="Paste link here"
        />
      </div>

      <div class="row" *ngIf="addMaterialForm.get('type')?.value === 'pdf'">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title m-t-0">Upload Material document</h4>

              <form #fileUpload="ngForm">
                <ngx-dropzone
                  (change)="onSelectDoc($event)"
                  class="dropzone"
                  accept=".pdf, .doc, .docx, .ppt, .txt"
                >
                  <ngx-dropzone-label>
                    <i class="h1 text-muted dripicons-cloud-upload"></i>
                    <h3>Drop files here or click to upload.</h3>
                  </ngx-dropzone-label>
                </ngx-dropzone>
                <div
                  *ngIf="selectedCategory"
                  class="text-muted mt-2 small fst-italic"
                >
                  Leave the image field blank if you do not want to update the
                  material image.
                </div>

                <!-- Preview -->
                <div class="dropzone-previews mt-3" id="file-previews">
                  <!-- file preview template -->
                  <div id="uploadPreviewTemplate" *ngIf="docs">
                    <div class="card mt-1 mb-0 shadow-none border">
                      <div class="p-2">
                        <div class="row align-items-center">
                          <div class="col-auto"></div>
                          <div class="col ps-0">
                            <a
                              href="javascript:void(0);"
                              class="text-muted fw-bold"
                              >{{ docs.name }}</a
                            >
                            <p class="mb-0">{{ getSize(docs) }}</p>
                          </div>
                          <div class="col-auto">
                            <!-- Button -->
                            <a
                              href="javascript:void(0)"
                              class="btn btn-link btn-lg text-muted"
                              (click)="onRemoveDoc($event)"
                            >
                              <i class="dripicons-cross"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end file preview template -->
                </div>
              </form>
            </div>
            <!-- end card-body -->
          </div>
          <!-- end card-->
        </div>
        <!-- end col-->
      </div>

      <div class="mb-3 text-center">
        <button class="btn btn-primary" type="submit" [disabled]="isSubmitting">
          <span
            *ngIf="isSubmitting"
            class="spinner-border spinner-border-sm me-1"
            role="status"
            aria-hidden="true"
          ></span>
          {{ selectedCategory ? "Update Material" : "Add Material" }}
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #addLabsModal let-modal>
  <div class="modal-body">
    <form class="ps-3 pe-3" [formGroup]="addLabForm" (ngSubmit)="addLabs()">
      <div class="mb-2">
        <label for="username" class="form-label">Lab Title</label>
        <input
          class="form-control"
          type="email"
          id="name"
          required
          formControlName="labTitle"
          placeholder="Add lab title here"
        />
      </div>

      <br />
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title m-t-0">Lab File</h4>

              <form #fileUpload="ngForm">
                <ngx-dropzone
                  [multiple]="false"
                  (change)="onSelectImage($event)"
                  class="dropzone"
                >
                  <ngx-dropzone-label>
                    <i class="h1 text-muted dripicons-cloud-upload"></i>
                    <h3>Drop files here or click to upload.</h3>
                  </ngx-dropzone-label>
                </ngx-dropzone>

                <!-- Preview -->
                <div class="dropzone-previews mt-3" id="file-previews">
                  <!-- file preview template -->
                  <!-- <div id="uploadPreviewTemplate" *ngFor="let f of files"> -->
                  <div id="uploadPreviewTemplate" *ngIf="files">
                    <div class="card mt-1 mb-0 shadow-none border">
                      <div class="p-2">
                        <div class="row align-items-center">
                          <div class="col ps-0">
                            <a
                              href="javascript:void(0);"
                              class="text-muted fw-bold"
                              >{{ files.name }}</a
                            >
                            <p class="mb-0">{{ getSize(files) }}</p>
                          </div>
                          <div class="col-auto">
                            <!-- Button -->
                            <a
                              href="javascript:void(0)"
                              class="btn btn-link btn-lg text-muted"
                              (click)="onRemoveFile($event)"
                            >
                              <i class="dripicons-cross"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end file preview template -->
                </div>
              </form>
            </div>
            <!-- end card-body -->
          </div>
          <!-- end card-->
        </div>
        <!-- end col-->
      </div>

      <div class="mb-3 text-center">
        <button class="btn btn-primary" type="submit" [disabled]="isSubmitting">
          <span
            *ngIf="isSubmitting"
            class="spinner-border spinner-border-sm me-1"
            role="status"
            aria-hidden="true"
          ></span>
          Add Labs
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #addNotesModal let-modal>
  <div class="modal-body">
    <form class="ps-3 pe-3" [formGroup]="addNoteForm" (ngSubmit)="addNotes()">
      <div class="mb-2">
        <label for="username" class="form-label">Note Title</label>
        <input
          class="form-control"
          type="email"
          id="name"
          required
          formControlName="noteTitle"
          placeholder="Add note title here"
        />
      </div>

      <br />
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title m-t-0">Note File</h4>

              <form #fileUpload="ngForm">
                <ngx-dropzone
                  [multiple]="false"
                  (change)="onSelectImage($event)"
                  class="dropzone"
                >
                  <ngx-dropzone-label>
                    <i class="h1 text-muted dripicons-cloud-upload"></i>
                    <h3>Drop files here or click to upload.</h3>
                  </ngx-dropzone-label>
                </ngx-dropzone>

                <!-- Preview -->
                <div class="dropzone-previews mt-3" id="file-previews">
                  <!-- file preview template -->
                  <!-- <div id="uploadPreviewTemplate" *ngFor="let f of files"> -->
                  <div id="uploadPreviewTemplate" *ngIf="files">
                    <div class="card mt-1 mb-0 shadow-none border">
                      <div class="p-2">
                        <div class="row align-items-center">
                          <div class="col ps-0">
                            <a
                              href="javascript:void(0);"
                              class="text-muted fw-bold"
                              >{{ files.name }}</a
                            >
                            <p class="mb-0">{{ getSize(files) }}</p>
                          </div>
                          <div class="col-auto">
                            <!-- Button -->
                            <a
                              href="javascript:void(0)"
                              class="btn btn-link btn-lg text-muted"
                              (click)="onRemoveFile($event)"
                            >
                              <i class="dripicons-cross"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end file preview template -->
                </div>
              </form>
            </div>
            <!-- end card-body -->
          </div>
          <!-- end card-->
        </div>
        <!-- end col-->
      </div>

      <div class="mb-3 text-center">
        <button class="btn btn-primary" type="submit" [disabled]="isSubmitting">
          <span
            *ngIf="isSubmitting"
            class="spinner-border spinner-border-sm me-1"
            role="status"
            aria-hidden="true"
          ></span>
          Add Notes
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #addStudentModal let-modal>
  <div class="modal-body">
    <form
      class="ps-3 pe-3"
      [formGroup]="addStudentForm"
      (ngSubmit)="onSubmitCreateStudent()"
    >
      <div class="mb-2">
        <label for="username" class="form-label">Name</label>
        <input
          class="form-control"
          type="email"
          id="name"
          required
          formControlName="name"
          placeholder="Student Name"
        />
      </div>

      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          class="form-control"
          type="email"
          id="username"
          required
          formControlName="username"
          placeholder="Username"
        />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          class="form-control"
          type="email"
          id="email"
          required
          formControlName="email"
          placeholder="Student Email"
        />
      </div>
      <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input
          class="form-control"
          type="email"
          id="Password"
          required
          formControlName="pwd"
          placeholder="Password"
        />
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Confirm Password</label>
        <input
          class="form-control"
          type="email"
          id="confirm"
          required
          formControlName="confirm"
          placeholder="Confirm password"
        />
      </div>

      <br />
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title m-t-0">Image</h4>

              <form #fileUpload="ngForm">
                <ngx-dropzone
                  [multiple]="false"
                  (change)="onSelectImage($event)"
                  class="dropzone"
                  accept="image/jpeg,image/jpg,image/png,image/gif"
                >
                  <ngx-dropzone-label>
                    <i class="h1 text-muted dripicons-cloud-upload"></i>
                    <h3>Drop files here or click to upload.</h3>
                  </ngx-dropzone-label>
                </ngx-dropzone>

                <!-- Preview -->
                <div class="dropzone-previews mt-3" id="file-previews">
                  <!-- file preview template -->
                  <!-- <div id="uploadPreviewTemplate" *ngFor="let f of files"> -->
                  <div id="uploadPreviewTemplate" *ngIf="files">
                    <div class="card mt-1 mb-0 shadow-none border">
                      <div class="p-2">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <img
                              class="avatar-sm rounded bg-light"
                              [alt]="files.name"
                              [src]="getPreviewUrlImg(files)"
                            />
                          </div>
                          <div class="col ps-0">
                            <a
                              href="javascript:void(0);"
                              class="text-muted fw-bold"
                              >{{ files.name }}</a
                            >
                            <p class="mb-0">{{ getSize(files) }}</p>
                          </div>
                          <div class="col-auto">
                            <!-- Button -->
                            <a
                              href="javascript:void(0)"
                              class="btn btn-link btn-lg text-muted"
                              (click)="onRemoveFile($event)"
                            >
                              <i class="dripicons-cross"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end file preview template -->
                </div>
              </form>
            </div>
            <!-- end card-body -->
          </div>
          <!-- end card-->
        </div>
        <!-- end col-->
      </div>

      <div class="mb-3 text-center">
        <button class="btn btn-primary" type="submit">Add Material</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #alertModal let-modal>
  <div class="modal-body p-4">
    <div class="text-center">
      <i class="dripicons-checkmark h1"></i>
      <h4 class="mt-2">Are you sure you want to delete this?</h4>

      <button
        type="button"
        class="btn btn-light my-2 me-3"
        (click)="modal.close('Close click')"
      >
        EXIT
      </button>

      <!-- Conditional button click based on tableName -->
      <button
        *ngIf="tableName === 'material'; else deleteOthers"
        type="button"
        class="btn btn-light my-2"
        (click)="deleteMaterials()"
        [disabled]="isSubmitting"
      >
        <span
          *ngIf="isSubmitting"
          class="spinner-border spinner-border-sm me-1"
          role="status"
          aria-hidden="true"
        ></span>
        DELETE
      </button>

      <!-- Fallback for notes and labs -->
      <ng-template #deleteOthers>
        <button
          type="button"
          class="btn btn-light my-2"
          (click)="deleteLabOrNotes()"
          [disabled]="isSubmitting"
        >
          <span
            *ngIf="isSubmitting"
            class="spinner-border spinner-border-sm me-1"
            role="status"
            aria-hidden="true"
          ></span>
          DELETE
        </button>
      </ng-template>
    </div>
  </div>
</ng-template>

<div class="row">
  <div class="col-12 col-sm-6" *ngIf="pageSizeOptions.length">
    <!-- <div class="text-center text-sm-start">
                <label class="form-label me-1">Show
                    <select class="form-select form-select-sm  w-auto ms-1 me-1 d-inline" name="pageSize"
                        id="event-category" required [(ngModel)]="service.pageSize" (ngModelChange)="paginate()">
                        <option *ngFor="let option of pageSizeOptions" [value]="option">{{option}}</option>
                    </select>
                    entries</label>
            </div> -->

    <div class="text-center text-sm-start" *ngIf="tableName == 'material'">
      <label class="d-inline"
        >Search:
        <input
          type="text"
          name="searchTerm"
          class="form-control form-control-sm d-inline w-auto ms-1"
          aria-controls="advanced-table"
          [(ngModel)]="service.searchTerm"
          (ngModelChange)="searchData()"
        />
      </label>

      <!-- <button type="button" class="btn btn-light mb-2">Export</button> -->
    </div>
  </div>
  <!-- end col-->
  <div
    class="col-12"
    [class.col-sm-6]="pageSizeOptions.length"
    *ngIf="tableName == 'material'"
  >
    <div
      class="d-flex align-items-center justify-content-center justify-content-sm-end"
    >
      <button
        type="button"
        class="btn btn-primary mb-2 me-2"
        (click)="open(addMaterialModal)"
      >
        Add Material
      </button>
    </div>
  </div>

  <div
    class="col-12"
    [class.col-sm-6]="pageSizeOptions.length"
    *ngIf="tableName == 'labs'"
  >
    <div
      class="d-flex align-items-center justify-content-center justify-content-sm-end"
    >
      <button
        type="button"
        class="btn btn-primary mb-2 me-2"
        (click)="open(addLabsModal)"
      >
        Add Lab
      </button>
    </div>
  </div>

  <div
    class="col-12"
    [class.col-sm-6]="pageSizeOptions.length"
    *ngIf="tableName == 'notes'"
  >
    <div
      class="d-flex align-items-center justify-content-center justify-content-sm-end"
    >
      <button
        type="button"
        class="btn btn-primary mb-2 me-2"
        (click)="open(addNotesModal)"
      >
        Add Notes
      </button>
    </div>
  </div>
  <!-- end col-->
</div>
<!-- end row -->

<div class="table-responsive">
  <table
    id="advancd-table"
    class="table advanced-table"
    [class]="tableClasses"
    #advancedTable
  >
    <thead [class]="theadClasses" *ngIf="tableData.length > 0">
      <tr *ngIf="isSortable">
        <!-- <th *ngIf="hasRowSelection" class="row_select">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate"
                            [checked]="selectAll" [indeterminate]="checkIntermediate()" (change)="selectAllRow($event)">
                    </div>
                </th> -->

        <ng-container *ngFor="let column of columns">
          <th
            class="text-capitalize sortable pe-3 pe-lg-auto"
            [style.width.px]="column.width"
            [sortable]="column.name"
            (sort)="onSort($event)"
            *ngIf="column.sort != false"
          >
            {{ column.name }}
          </th>
          <th
            class="text-capitalize"
            [style.width.px]="column.width"
            *ngIf="column.sort === false"
          >
            {{ column.name }}
          </th>
        </ng-container>
      </tr>
      <tr *ngIf="!isSortable">
        <!-- <th *ngIf="hasRowSelection" class="row_select">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckIndeterminate"
            />
          </div>
        </th> -->
        <th
          *ngFor="let column of columns"
          [style.width.px]="column.width"
          class="text-capitalize"
        >
          {{ column.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let record of tableData | slice: (service.page-1) * service.pageSize : service.page * service.pageSize;let i=index"
                [class.selected]="isSelected[i+((service.page-1) * service.pageSize)]"> -->

      <tr
        *ngFor="let record of tableData; let i = index"
        [class.selected]="isSelected[i + (service.page - 1) * service.pageSize]"
      >
        <!-- <td *ngIf="hasRowSelection">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                            [checked]="isSelected[i+((service.page-1) * service.pageSize)]" value=""
                            id="flexCheckIndeterminate" (change)="selectRow(i+((service.page-1) * service.pageSize))">
                    </div>
                </td> -->
        <td *ngFor="let column of columns">
          <!-- <div [innerHtml]="callFormatter(column,record)"></div> -->

          <ng-container *ngIf="column.name !== 'action'">
            <div [innerHtml]="callFormatter(column, record)"></div>
          </ng-container>
          <ng-container
            *ngIf="column.name === 'action' && tableName == 'material'"
          >
            <button
              (click)="open(addMaterialModal, record)"
              class="btn btn-sm btn-primary me-2"
            >
              Edit
            </button>
            <button
              class="btn btn-sm btn-primary"
              (click)="openAlertModal(alertModal, 'danger', record, tableName)"
            >
              Delete
            </button>
          </ng-container>
          <ng-container *ngIf="column.name === '' && tableName == 'labs'">
            <button
              class="btn btn-sm btn-danger"
              (click)="openAlertModal(alertModal, 'danger', record, tableName)"
            >
              Delete
            </button>
          </ng-container>

          <ng-container *ngIf="column.name === '' && tableName == 'notes'">
            <button
              class="btn btn-sm btn-danger"
              (click)="openAlertModal(alertModal, 'danger', record, tableName)"
            >
              Delete
            </button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <div class="d-flex flex-wrap justify-content-between p-2" *ngIf="pagination">
    <div>
      Showing {{ service.startIndex }} to {{ service.endIndex }} of
      {{ service.totalRecords }} entries
    </div>
    <ngb-pagination
      class="pagination-rounded"
      [collectionSize]="service.totalRecords"
      [(page)]="service.page"
      [maxSize]="3"
      [rotate]="true"
      [pageSize]="service.pageSize"
      (pageChange)="paginate()"
    >
    </ngb-pagination>
  </div> -->
</div>
