<ng-template #addCourseDetailsModal let-modal>
  <div class="modal-body">
    <form
      class="ps-3 pe-3"
      [formGroup]="addCourseDetailsForm"
      (ngSubmit)="createCourseDetails()"
    >
      <div class="mb-2">
        <label for="username" class="form-label">Course Name</label>
        <input
          class="form-control"
          type="email"
          id="name"
          required
          formControlName="name"
          placeholder="Course Name"
        />
      </div>

      <div class="mb-3">
        <label for="username" class="form-label">Video link</label>
        <input
          class="form-control"
          type="email"
          id="link"
          required
          formControlName="video_url"
          placeholder="Video link"
        />
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title m-t-0">Upload Video</h4>

              <form #fileUpload="ngForm">
                <ngx-dropzone
                [multiple]="false"
                  (change)="onSelectVideo($event)"
                  class="dropzone"
                >
                  <ngx-dropzone-label>
                    <i class="h1 text-muted dripicons-cloud-upload"></i>
                    <h3>Drop files here or click to upload.</h3>
                  </ngx-dropzone-label>
                </ngx-dropzone>

                <!-- Preview -->
                <div class="dropzone-previews mt-3" id="file-previews">
                  <!-- file preview template -->
                  <!-- <div id="uploadPreviewTemplate" *ngFor="let f of files"> -->
                    <div id="uploadPreviewTemplate" *ngIf="video">

                    <div class="card mt-1 mb-0 shadow-none border">
                      <div class="p-2">
                        <div class="row align-items-center">
                          <!-- <div class="col-auto">
                            <img
                              class="avatar-sm rounded bg-light"
                              [alt]="video.name"
                              [src]="getPreviewUrlImg(video)"
                            />
                          </div> -->
                          <div class="col ps-0">
                            <a
                              href="javascript:void(0);"
                              class="text-muted fw-bold"
                              >{{ video.name }}</a
                            >
                            <p class="mb-0">{{ getSize(video) }}</p>
                          </div>
                          <div class="col-auto">
                            <!-- Button -->
                            <a
                              href="javascript:void(0)"
                              class="btn btn-link btn-lg text-muted"
                              (click)="onRemoveVideo($event)"
                            >
                              <i class="dripicons-cross"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end file preview template -->
                </div>
              </form>
            </div>
            <!-- end card-body -->
          </div>
          <!-- end card-->
        </div>
        <!-- end col-->
      </div>


      <div class="mb-3">
        <label class="form-label">Status</label>

        <select class="form-control" formControlName="status">
          <option value="" disabled selected>Select Status</option>
          <option value="true">Active</option>
          <option value="false">Inactive</option>
        </select>
      </div>

      <br /><br />

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title m-t-0">Upload Couse Image</h4>

              <form #fileUpload="ngForm">
                <ngx-dropzone
                  [multiple]="false"
                  (change)="onSelectImage($event)"
                  class="dropzone"
                  accept="image/jpeg,image/jpg,image/png,image/gif"
                >
                  <ngx-dropzone-label>
                    <i class="h1 text-muted dripicons-cloud-upload"></i>
                    <h3>Drop files here or click to upload.</h3>
                  </ngx-dropzone-label>
                </ngx-dropzone>

                <!-- Preview -->
                <div class="dropzone-previews mt-3" id="file-previews">
                  <!-- file preview template -->
                  <!-- <div id="uploadPreviewTemplate" *ngFor="let f of files"> -->
                  <div id="uploadPreviewTemplate" *ngIf="files">
                    <div class="card mt-1 mb-0 shadow-none border">
                      <div class="p-2">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <img
                              class="avatar-sm rounded bg-light"
                              [alt]="files.name"
                              [src]="getPreviewUrlImg(files)"
                            />
                          </div>
                          <div class="col ps-0">
                            <a
                              href="javascript:void(0);"
                              class="text-muted fw-bold"
                              >{{ files.name }}</a
                            >
                            <p class="mb-0">{{ getSize(files) }}</p>
                          </div>
                          <div class="col-auto">
                            <!-- Button -->
                            <a
                              href="javascript:void(0)"
                              class="btn btn-link btn-lg text-muted"
                              (click)="onRemoveFile($event)"
                            >
                              <i class="dripicons-cross"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end file preview template -->
                </div>
              </form>
            </div>
            <!-- end card-body -->
          </div>
          <!-- end card-->
        </div>
        <!-- end col-->
      </div>

      <br /><br />

      <div class="mb-3 text-center">
        <button class="btn btn-primary" type="submit">Save Details</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #editCourseModal let-modal>
  <div class="modal-body">
    <form
      class="ps-3 pe-3"
      [formGroup]="editCourseForm"
      (ngSubmit)="onSubmitEditCourse()"
    >
      <div class="mb-2">
        <label for="username" class="form-label">Course Name</label>
        <input
          class="form-control"
          type="email"
          id="name"
          required
          formControlName="name"
          placeholder="Course Name"
        />
      </div>

      <div class="mb-3">
        <label for="username" class="form-label">Course Description</label>
        <input
          class="form-control"
          type="email"
          id="desc"
          required
          formControlName="description"
          placeholder="Course Description"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Status</label>

        <select class="form-control" formControlName="status">
          <option value="" disabled selected>Select Status</option>
          <option value="true">Active</option>
          <option value="false">Inactive</option>
        </select>
      </div>

      <!-- <div formArrayName="course_objective">
        <div
          *ngFor="let objective of courseObjectives.controls; let i = index"
          [formGroupName]="i"
          class="mb-3 border p-2 rounded"
        >
          <label class="form-label">Objective Name</label>
          <input
            class="form-control mb-2"
            type="text"
            formControlName="name"
            placeholder="Objective Name"
          />

          <label class="form-label">Objective Description</label>
          <textarea
            class="form-control mb-2"
            formControlName="description"
            placeholder="Objective Description"
          ></textarea>

          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="removeObjective(i)"
          >
            Remove Objective
          </button>
        </div>

        <button
          type="button"
          class="btn btn-info btn-sm"
          (click)="addObjective()"
        >
          Add Objective
        </button>
      </div> -->
      <!-- <br /><br /> -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title m-t-0">Upload course image</h4>

              <form #fileUpload="ngForm">
                <ngx-dropzone
                  [multiple]="false"
                  (change)="onSelectImage($event)"
                  class="dropzone"
                  accept="image/jpeg,image/jpg,image/png,image/gif"
                >
                  <ngx-dropzone-label>
                    <i class="h1 text-muted dripicons-cloud-upload"></i>
                    <h3>Drop files here or click to upload.</h3>
                  </ngx-dropzone-label>
                </ngx-dropzone>

                <!-- Preview -->
                <div class="dropzone-previews mt-3" id="file-previews">
                  <!-- file preview template -->
                  <!-- <div id="uploadPreviewTemplate" *ngFor="let f of files"> -->
                  <div id="uploadPreviewTemplate" *ngIf="files">
                    <div class="card mt-1 mb-0 shadow-none border">
                      <div class="p-2">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <img
                              class="avatar-sm rounded bg-light"
                              [alt]="files.name"
                              [src]="getPreviewUrlImg(files)"
                            />
                          </div>
                          <div class="col ps-0">
                            <a
                              href="javascript:void(0);"
                              class="text-muted fw-bold"
                              >{{ files.name }}</a
                            >
                            <p class="mb-0">{{ getSize(files) }}</p>
                          </div>
                          <div class="col-auto">
                            <!-- Button -->
                            <a
                              href="javascript:void(0)"
                              class="btn btn-link btn-lg text-muted"
                              (click)="onRemoveFile($event)"
                            >
                              <i class="dripicons-cross"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end file preview template -->
                </div>
              </form>
            </div>
            <!-- end card-body -->
          </div>
          <!-- end card-->
        </div>
        <!-- end col-->
      </div>

      <br /><br />

      <!-- Course doc upload -->

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title m-t-0">Upload course document</h4>

              <form #fileUpload="ngForm">
                <ngx-dropzone
                  (change)="onSelectDoc($event)"
                  class="dropzone"
                  accept=".pdf, .doc, .docx, .ppt, .txt"
                >
                  <ngx-dropzone-label>
                    <i class="h1 text-muted dripicons-cloud-upload"></i>
                    <h3>Drop files here or click to upload.</h3>
                  </ngx-dropzone-label>
                </ngx-dropzone>

                
                <div class="dropzone-previews mt-3" id="file-previews">
                  <div id="uploadPreviewTemplate" *ngIf="docs">
                    <div class="card mt-1 mb-0 shadow-none border">
                      <div class="p-2">
                        <div class="row align-items-center">
                          <div class="col-auto"></div>
                          <div class="col ps-0">
                            <a
                              href="javascript:void(0);"
                              class="text-muted fw-bold"
                              >{{ docs.name }}</a
                            >
                            <p class="mb-0">{{ getSize(docs) }}</p>
                          </div>
                          <div class="col-auto">
                            <a
                              href="javascript:void(0)"
                              class="btn btn-link btn-lg text-muted"
                              (click)="onRemoveDoc($event)"
                            >
                              <i class="dripicons-cross"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3 text-center">
        <button class="btn btn-primary" type="submit">Update Course</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #editCourseDetailsModal let-modal>
  <div class="modal-body">
    <form
      class="ps-3 pe-3"
      [formGroup]="addCourseDetailsForm"
      (ngSubmit)="editDetails()"
    >
      <div class="mb-2">
        <label for="username" class="form-label">Course Name</label>
        <input
          class="form-control"
          type="email"
          id="name"
          required
          formControlName="name"
          placeholder="Course Name"
        />
      </div>

      <div class="mb-3">
        <label for="username" class="form-label">Video link</label>
        <input
          class="form-control"
          type="email"
          id="link"
          required
          formControlName="video_url"
          placeholder="Video link"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Status</label>

        <select class="form-control" formControlName="status">
          <option value="" disabled selected>Select Status</option>
          <option value="true">Active</option>
          <option value="false">Inactive</option>
        </select>
      </div>

      <br /><br />

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title m-t-0">Upload Couse Image</h4>

              <form #fileUpload="ngForm">
                <ngx-dropzone
                  [multiple]="false"
                  (change)="onSelectImage($event)"
                  class="dropzone"
                  accept="image/jpeg,image/jpg,image/png,image/gif"
                >
                  <ngx-dropzone-label>
                    <i class="h1 text-muted dripicons-cloud-upload"></i>
                    <h3>Drop files here or click to upload.</h3>
                  </ngx-dropzone-label>
                </ngx-dropzone>

                <!-- Preview -->
                <div class="dropzone-previews mt-3" id="file-previews">
                  <!-- file preview template -->
                  <!-- <div id="uploadPreviewTemplate" *ngFor="let f of files"> -->
                  <div id="uploadPreviewTemplate" *ngIf="files">
                    <div class="card mt-1 mb-0 shadow-none border">
                      <div class="p-2">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <img
                              class="avatar-sm rounded bg-light"
                              [alt]="files.name"
                              [src]="getPreviewUrlImg(files)"
                            />
                          </div>
                          <div class="col ps-0">
                            <a
                              href="javascript:void(0);"
                              class="text-muted fw-bold"
                              >{{ files.name }}</a
                            >
                            <p class="mb-0">{{ getSize(files) }}</p>
                          </div>
                          <div class="col-auto">
                            <!-- Button -->
                            <a
                              href="javascript:void(0)"
                              class="btn btn-link btn-lg text-muted"
                              (click)="onRemoveFile($event)"
                            >
                              <i class="dripicons-cross"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end file preview template -->
                </div>
              </form>
            </div>
            <!-- end card-body -->
          </div>
          <!-- end card-->
        </div>
        <!-- end col-->
      </div>

      <br /><br />

      <div class="mb-3 text-center">
        <button class="btn btn-primary" type="submit">Update Details</button>
      </div>
    </form>
  </div>
</ng-template>

<ngb-alert #updateSuccessAlert type="success" *ngIf="show" (closed)="show=false">Course updated successfully
</ngb-alert>


<br />

<div class="row card-container">
  <!-- Image Column -->
  <div class="col-md-4 image-column">
    <img
      [src]="course?.img || 'assets/images/other/upload_photo.jpg'"
      class="card-img"
      alt="Course Image"
      style="padding-top: 10px; padding-bottom: 10px"
    />
  </div>

  <!-- Content Column -->
  <div class="col-md-8 content-column">
    <h5 class="card-title">{{ course?.name }}</h5>
    <p class="card-description">{{ course?.description }}</p>
  </div>
  <div
    class="col-md-2 d-flex flex-column justify-content-end align-items-end"
    style="height: 1000%"
  >
    <button
      type="button"
      class="btn btn-danger mb-2 me-2"
      (click)="openAddDetails(addCourseDetailsModal)"
      style="margin-top: 10px"
    >
      Add Course Details
    </button>

    <button
      type="button"
      class="btn btn-danger mb-2 me-2"
      (click)="course && openEditCourse(editCourseModal, course)"
      style="margin-top: 10px"
    >
      Edit course
    </button>
    <!-- <p class="card-description">{{ course?.description }}</p> -->
  </div>
</div>

<br />

<br />
<div class="row " >
  <!-- Loop through course details -->

  <div class="col-lg-6 " *ngFor="let detail of course?.details">
    <div class="card border border-dark mb-3" >
      <div
        class="d-flex align-items-center justify-content-between"
        style="padding-top: 4px"
      >
        <!-- Centered detail.name -->
        <h5 class="card-title m-0 text-center flex-grow-1 mt-2">
          {{ detail.name }}
        </h5>

        <!-- Button aligned to the end -->
        <button 
        class="btn btn-danger ms-3 me-2 mt-2"
        (click)="openEditDetails(editCourseDetailsModal,detail)"

        >
        Edit details
      </button>
      </div>
      <div class="row g-0 align-items-center">
        <!-- Image Section -->
        <div class="col-md-4">
          <img
            style="padding-left: 5px"
            [src]="detail.img || 'assets/images/other/upload_photo.jpg'"
            class="card-img"
            alt="Detail Image"
          />
        </div>
        <!-- Content Section -->
        <div class="col-md-8">
          <div class="card-body">
            <!-- <h5 class="card-title">{{ detail.name }}</h5> -->
            <div class="ratio ratio-21x9">
              <!-- <iframe src="https://lms.zaap.life/img/test/banner/7f2356763cbb3b23e60e3db4b2529a31.mp4"></iframe> -->
              <!-- <iframe [src]="getEmbedUrl(detail.video_url)" ></iframe> -->
              <iframe
                [src]="getTrustedUrl(detail.video_url)"
                allowfullscreen
              ></iframe>
            </div>
            <p class="card-text">
              <small class="text-muted"
                >created at {{ detail.createdAt | date : "medium" }}</small
              >
            </p>
          </div>
          <!-- end card-body -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row-->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>

<!-- <h3 class="card-title">Course Details</h3> -->

<!-- <div class="text-center" *ngIf="!course?.details ">
    <p>No course details found.</p>
</div> -->

<!-- <ng-template #noDetails>
    <div class="text-center">
        <p>No course details found.</p>
    </div>
</ng-template> -->
